.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background: url('../img/help/header.png');
    background-repeat: no-repeat;
    height: 323px;
    overflow: auto;
}

.title {
    margin: 27px 66px 0px 0px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;

    font-weight: 600;
    font-size: 24px;
    line-height: 136.51%;
}

.inscription {
    margin: 45px 0 0 157px;

    font-size: 37px;
    line-height: 49px;
}

.text-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 1787px;
    margin-top: 15px;


}

.button-container {
    align-self: self-end;
    margin-right: 60px;
    padding: 55px 150px;
    background: url('../img/help/arrow-back.png');
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}

.button-container:hover {
    padding: 55px 115px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
}

.back {
    font-size: 40px;
    line-height: 123.51%;
    text-align: center;
}

.arrow {
    background: url('../img/help/arrow-back.png');
    background-repeat: no-repeat;
}

.back-link {
    margin-left: 1400px;
    display: inline-block;
    text-decoration: none;
    color: black;
}