.main {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.left-block {
    width: 33.5%;
    background: url('../img/registration/left-block.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.offer-registration {
    margin: 7.5vw 0 6% 10%;
    color: #FFFFFF;

    font-size: 1.4vw;
    line-height: 119.51%;
}

.form-registration {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.first-name,
.middle-name,
.last-name {
    width: 46%;
    margin-bottom: 2.3%;

    font-size: 1.15vw;
    line-height: 130%;
    font-family: 'Segoe UI';
}

.right-block {
    box-sizing: content-box;
    padding-left: 1%;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    margin-top: 2.1vw;
    text-transform: uppercase;

    font-weight: 600;
    font-size: 1.82vw;
    line-height: 136.51%;
}

.description {
    width: 88.5%;
    margin-top: 2.6vw;

    font-size: 1.05vw;
    line-height: 141.01%;
}

.buttons-container {
    margin-top: 5.2vw;
    margin-left: -19%;
}

.start-link,
.help-link {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.start-link {
    margin-right: 7%;
}

.start-button {
    transition: 0.1s;
    width: 18vw;
    height: 7vw;
    background: linear-gradient(82.42deg, #910000 -3.3%, #E50000 92.3%);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
}

.start-button:hover {
    background: #FFFFFF;
    color: black;
}

.start {
    text-align: center;
    font-size: 2.1vw;
    line-height: 123.51%;
}

.help-button {
    transition: 0.1s;
    width: 18vw;
    height: 7vw;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.help {
    font-size: 2.1vw;
    line-height: 123.51%;
    text-align: center;
}

.help-button:hover {
    background: #4A6074;
    color: white;
}

.contacts {
    display: flex;
    margin-top: 4vw;
    margin-left: -7.5%;
}

.address,
.phone,
.site,
.mail {
    margin-right: 3.7%;
}

.address {
    font-size: 0.94vw;
    line-height: 123.51%;
}

.phone,
.site,
.mail {
    display: flex;
    align-items: flex-end;
    font-size: 0.94vw;
    line-height: 123.51%;
    white-space: nowrap;
}

.phone {}

.icon {
    width: 2vw;
    margin-right: 4%;
    margin-bottom: -2.3%;
}

.side-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 2%;
    bottom: 1vw;
    position: absolute;
    width: 4%;
}

.practice {
    color: #CECECE;
    writing-mode: vertical-rl;
    margin-left: 10px;

    /*font 60px*/
    font-size: 3.1vw;
    line-height: 123.51%;
}

.top-arrow {
    background: url('../img/root/top-arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 12vw;
    width: 100%;
}

.bottom-arrow {
    background: url('../img/root/bottom-arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 6vw;
    width: 100%;
}

.whitescreen {
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}

.whitescreen.vis {
    visibility: visible;
    opacity: 1;
}

.error-bar {
    transition: 1s;
    position: absolute;
    background: linear-gradient(180deg, #9D0000 0%, #E40000 100%);
    width: 100%;
    height: 7.5vw;
    bottom: -200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.error-bar.vis {
    bottom: 0;
}

.error-message {
    color: #FFFFFF;
    font-size: 2.3vw;
    line-height: 130%;
    text-align: center;
    flex: 0.92;
}

.error-icon {
    margin-right: 30px;
    cursor: pointer;
}

.error-image {
    width: 3.7vw;
}

@media screen and (max-width: 1366px) {
    .offer-registration {
        margin-top: 6vw;
    }

    .buttons-container {
        margin-top: 3.2vw;
    }

    .contacts {
        margin-top: 3vw;
    }
}

@media screen and (max-width: 1600px) {
    .buttons-container {
        margin-top: 3.2vw;
    }
}